@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background-image: url(imagens/fundo.png);
    background-color: rgb(12, 12, 12);
    background-repeat: no-repeat;
    background-position: -70px 40px;
    background-size: 1260px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    padding-right: 50px;
    padding-top: 20px;
}

.cabecalho-imagem {
    height: 55px;
    padding-left: 10px;

}

.cabecalho-menu {
    display: flex;
    gap: 45px;

}

.cabecalho-item {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;

}

.cabecalho-item:hover {
    color: rgb(211, 20, 20);
    transition: 0.3s all;
}



.conteudo {
    margin-bottom: 20px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 600px;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    padding-top: 240px;
    padding-left: 1000px;
}

.conteudo-titulo {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 70px;
}

.conteudo-subtitulo {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 60px;
    padding-bottom: 20px;
}

.conteudo-botao {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    width: 200px;
    height: 66px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.conteudo-botao:hover {
    background-color: rgb(211, 20, 20);
    transition: 0.3s all;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 40px;
    padding-right: 60px;
    padding-top: 260px;
}



.fa-brands {
    color: white;

}

.fa-brands:hover {
    color: rgb(211, 20, 20);
    transition: 0.3s all;
}

.canto {
    display: flex;
    gap: 20px;
}


.text-login {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: white;
}

.fa-solid {
    color: white;
    padding-right: 5px;
}

.fa-solid:hover {
    color: white;
    transition: 0.3s all;
}




.modal {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    border-radius: 15px;
    color: #fff;
    z-index: 10;
}

.titulo-login {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px;
}

.nome-senha {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

.btn-enviar {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(211, 20, 20);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.btn-enviar:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.3s all;
}

.close-btn {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 45px;
    background-color: rgb(211, 20, 20);
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    border: none;
    font-weight: bold;
}

.close-btn:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.3s all;
}




.hidden {
    display: none;
}


.botaologin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px;
    border: 2px solid rgb(97, 97, 97);
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.botaologin:hover {
    background-color: rgb(211, 20, 20);
    transition: 0.3s all;
}

.botaojoin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px;
    border: 2px solid rgb(97, 97, 97);
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.botaojoin:hover {
    background-color: rgb(211, 20, 20);
    transition: 0.3s all;
}





.classes-lista {
    padding-top: 60px;
    padding-bottom: 120px;
}

#home .classes-lista {
    padding-top: 60px;
}

.classes-lista h2 {
    margin-bottom: 20px;
}

.classes-lista ul {
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    /* Se quiser ele quebrando */
    /* flex-wrap: wrap; */
    /* Se quiser ele com o scroll */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#home .classes-lista ul {
    max-width: 1400px;
    padding: 20px;

}

.classes-lista li {
    flex: 1;
    min-width: 280px;
    list-style: none;
    text-decoration: none;

}

.classe-li {
    border-radius: 20px;
}

.classes-lista a {
    display: block;
}

.classes-lista img {
    margin-bottom: 16px;
}

.classes-lista h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.classes-lista h3::before {
    content: "";
    display: inline-block;
    width: 12px;
    margin-right: 8px;
    height: 8px;
    background: rgb(211, 20, 20);
    transition: width 0.2s;
}

.classes-lista a:hover h3::before {
    width: 24px;
}

.classes-lista li span {
    padding-left: 20px;
}



#header2 {
    margin-top: 20px;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-classes {
    font-family: "Montserrat", sans-serif;
    color: rgb(12, 12, 12);
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 5px;
}

.sub-classes {
    font-family: "Montserrat", sans-serif;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: 24px;
}

.sub-classes:hover {
    color: rgb(211, 20, 20);
    transition: 0.3s all;
}

.tituloprincipal-classes {

    font-family: "Montserrat", sans-serif;
    color: rgb(12, 12, 12);
    font-weight: bolder;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.cor1 {
    color: rgb(211, 20, 20);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.botao-classe {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(12, 12, 12);
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.botao-classe:hover {
    background-color: rgb(211, 20, 20);
    transition: 0.3s all;
}